{
  "extends": [
    "./node_modules/@papyrus-ui/code-style/eslint-config",
    "./node_modules/@papyrus-ui/code-style/eslint-config-typescript",
    "./node_modules/@papyrus-ui/code-style/eslint-config-react"
  ],
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parserOptions": {
        "tsconfigRootDir": ".",
        "project": ["./tsconfig.json"]
      }
    },
    {
      "files": [
        "**/*.stories.tsx",
        "./packages/papyrus-ui/src/plugin/index.ts"
      ],
      "rules": {
        "import/no-default-export": "off"
      }
    },
    {
      "files": ["./**/*.test.{ts,tsx}"],
      "rules": {
        "@typescript-eslint/no-unsafe-call": "off"
      }
    }
  ]
}
